---
services:

  clickhouse:
    image: clickhouse/clickhouse-server:25.8.13
    container_name: clickhouse
    hostname: clickhouse
    user: "101:101"
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - "clickhouse_logs:/var/log/clickhouse-server"
      - "clickhouse_data:/var/lib/clickhouse"
      - "./clickhouse/init:/docker-entrypoint-initdb.d"
    environment:
      - CLICKHOUSE_DB=vector
      - CLICKHOUSE_USER=vector
      - CLICKHOUSE_PASSWORD=vector
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs

  elasticsearch:
    image: elasticsearch:9.2.3
    container_name: elasticsearch
    hostname: elasticsearch
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs

  kibana:
    image: kibana:9.2.3
    container_name: kibana
    hostname: kibana
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs
    depends_on:
      elasticsearch:
        condition: service_healthy

  vector:
    image: timberio/vector:0.52.0-alpine
    container_name: vector
    hostname: vector
    ports:
      - "8383:8383"
      - "8686:8686"
    volumes:
      - "./nginx/logs:/var/log/nginx:ro"
      - "./vector/vector.yaml:/etc/vector/vector.yaml:ro"
    environment:
      - VECTOR_LOG=info
    healthcheck:
      test: ["CMD", "vector", "validate", "/etc/vector/vector.yaml"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs
    depends_on:
      clickhouse:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy

  nginx:
    container_name: nginx
    hostname: nginx
    build:
      context: ./nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - "./nginx/logs/:/var/log/nginx"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:80"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs
    depends_on:
      clickhouse:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      vector:
        condition: service_healthy

  grafana:
    image: grafana/grafana:12.4.0-20648027705-ubuntu
    container_name: grafana
    hostname: grafana
    volumes:
      - "./grafana/clickhouse.yaml:/etc/grafana/provisioning/datasources/clickhouse.yaml"
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_INSTALL_PLUGINS=grafana-clickhouse-datasource
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - logs
    depends_on:
      clickhouse:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy

  alpine:
    image: alpine:latest
    container_name: alpine
    hostname: alpine
    command: 
      - /bin/sh
      - -c
      - |
        apk add curl
        while true; 
        do sleep 1; 
        curl http://www.google.com;
        done
    networks:
      - logs

networks:
  logs:
    driver: bridge

volumes:
  clickhouse_data:
    driver: local
  clickhouse_logs:
    driver: local
